#!/bin/sh

borg create {{ borgbackup_create_options }} \
  {% if borgbackup_exclude_file %}--exclude-file {{ borgbackup_exclude_file }} \
  {% endif %}
{% if borgbackup_exclude_files %}--exclude '{{ borgbackup_exclude_files|join("' \\\n\t--exclude '") }}' \
  {% endif %}
::{{ borgbackup_archive_name }} >&2 >> /var/logs/backup.log

borg prune {{ borgbackup_prune_options }} >&2 >> /var/logs/backup.log
