#!/bin/sh

borg create {{ backup_borg_create_options }} \
  {% if backup_borg_exclude_file %}--exclude-file {{ backup_borg_exclude_file }} \{% endif %}
  {% if backup_borg_exclude_files %}--exclude {{ backup_borg_exclude_files|join(' \--exclude ') }} \{% endif %}
::{{ backup_borg_archive_name }} >&2 >> /var/logs/backup.log

borg prune {{ backup_borg_prune_options }} >&2 >> /var/logs/backup.log
